@model IEnumerable<TurboRango.Dominio.Restaurante>

@{
    ViewBag.Title = "Home";
     
}

<div class="jumbotron text-center">
    <h1>TurboRango</h1>
    <p class="lead">Está com fome? Deixe que a gente decida onde voçê pode almoçar!</p>
    <p><a href="/sorteios" class="btn btn-primary btn-lg">--- SORTEAR ---</a></p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h4>@item.Nome</h4>
            
            <div class="caption">
                <img src="@item.url" width="250px" class="img-rounded margin-img"><br />
                <br />
                <p><a href="/Restaurantes/Details/@item.Id" class="btn btn-success">Detalhes</a></p>
            </div>
        </div>
    }

</div>